@{
    ViewBag.Title = "Imovel";
    Layout = "~/Areas/Administrator/Views/Shared/_LayoutAdmin.cshtml";
    
    ViewData["Estado"] = new SelectList(DDDImovel.Entidade.EstadoBrasileiro.Estado(), "Sigla", "Nome");
    
        
}

@model DDDImovel.ValuesObject.Model.Imovel


<div id="main_container">
    <div class="header">
        <div class="logo">
            <a href="#">
                <img src="@Url.Content("~/Areas/Administrator/Content/images/logo.gif")" alt="" title="" border="0" /></a>
        </div>
    </div>
    <div class="main_content">
        <div class="menu">
     
        </div> 

<div class="center_content">  
    <div class="left_content">
        <div class="sidebar_search">
            <form>
                <input type="text" name="" class="search_input" value="" placeholder="Empreendimento" />
                <input type="image" class="search_submit" src="@Url.Content("~/Areas/Administrator/Content/images/search.png")" />
            </form>            
    </div>
    
 @Html.Partial("~/Areas/Administrator/Views/Shared/_MenuCorretor.cshtml") 
    
</div>  
    
<div class="right_content">            
        <br /><br />
<h2>Cadastro de Imovel</h2> 
                    
<!-- montar o conteudo -->
@using (Html.BeginForm("", "/Admin/Imovel", FormMethod.Post, new { @id = "FormImovel" }))
{
        @Html.AntiForgeryToken()
  <table>
      
      <tr>
          <td colspan="2"><div id="resposta"></div></td>
      </tr>
     <tr>
         <td>@Html.LabelFor(model=>model.NomeImovel)</td>
         <td>
             @Html.TextBoxFor(model=>model.NomeImovel,new { @class = "txtlogin",@onclick="document.getElementById('resposta').innerHTML = '' " })
         </td>
     </tr>
     <tr>
         <td>@Html.LabelFor(model=>model.Descricao)</td>
         <td>@Html.TextBoxFor(model=>model.Descricao,new { @class = "txtlogin" })</td>
     </tr>
     <tr>
         <td>@Html.LabelFor(model=>model.Endereco)</td>
         <td>@Html.TextBoxFor(model=>model.Endereco,new { @class = "txtlogin" })</td>
     </tr>
     <tr>
         <td>@Html.LabelFor(model=>model.Numero)</td>
         <td>@Html.TextBoxFor(model=>model.Numero,new { @class = "txtlogin caixa_pequena",@onkeypress="return SomenteNumero(event)" })</td>
     </tr>
     <tr>
         <td>@Html.LabelFor(model=>model.Estado)</td>
         <td> @Html.DropDownList("Estado", "Selecione..")</td>
     </tr>
     <tr>
         <td>@Html.LabelFor(model=>model.Cidade)</td>
         <td>@Html.TextBoxFor(model=>model.Cidade,new { @class = "txtlogin" })</td>
     </tr>
     <tr>
         <td>@Html.LabelFor(model=>model.PorcentagemID)</td>
         <td>@Html.DropDownList("PorcentagemID","Selecione..")
            
         </td>
     </tr>
      <tr>
         <td>@Html.LabelFor(model=>model.EmpreendimentoID
)</td>
         <td>@Html.DropDownList("EmpreendimentoID", "Selecione...")
            
         </td>
     </tr>
     <tr>
         <td>@Html.LabelFor(model=>model.Preco)</td>
         <td>@Html.TextBoxFor(model=>model.Preco, new { @class = "txtlogin", @onkeydown="Formata(this,20,event,2);", @onkeypress="return SomenteNumero(event)" } )</td> <!-- onkeydown="Formata(this,20,event,2);", onkeypress="return SomenteNumero(event)"  --> 
     </tr>
     <tr>
         <td colspan="2"><input type="button" value="Enviar" name="btnenviar" id="btn_buttonLogar" onclick="SalvarImovel();" /></td>
     </tr>

 </table>   
}
<!-- fim do conteudo -->                    

</div>
</div>               
<div class="clear"></div>
</div>
