<html>
    <head>
        <title>Tela do Corretor</title>

        <link rel="stylesheet" href="@Url.Content("~/Areas/Content/css/style.css")" type="text/css" media="screen" />
        <script  src="@Url.Content("~/Areas/Content/script/jquery-1.7.1.min.js")"  ></script>
        <script  src="@Url.Content("~/Areas/Content/script/script_js.js")"  ></script>
        <script src="@Url.Content("~/Areas/Content/script/angular/angular.min.js")"></script>
        <meta name="viewport" content="width=device-width,device=height, initial-scale=1, maximum-scale=1, user-scalable=no">
        <meta http-equiv="content-type" content="text/html; charset=iso-8859-1">
    </head>
    <body ng-app="">
        <div id="MsgGeral" style="display:none;"></div>
        <div id="Carregando" style="display:none;">
        </div>
        <div id="MsgMessage" style="display:none;"></div>
     
         @RenderBody()
       
    </body>
</html>



